/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #cecece;
    font-family: 'Roboto', sans-serif;
}

/* Mobile style */
h1 {
    padding: 1rem 0 0 1rem;
    font-size: 20px;
}

label {
    margin-left: 1rem;
    display: block;
    font-weight: 700;
}

svg {
    width: 15vw;
}

    /*Added tasks*/
#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-group {
    background-color: #eee;
    margin-top: 2rem;
    border: 1px solid #bebebe;
    box-shadow: 1px 10px 10px -5px rgba(0,0,0,0.4);
    max-width: 20rem;
}

.task-group:hover {
    background-color: #e0e0e0;
}

.task-group-content {
    display: flex;
}

.time {
    padding: 1rem;
}

.task {
    padding: 1rem;
}

.task-group-active {
    display: flex;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease;
}

.show {
    grid-template-rows: 1fr;
}

.time-active {
    padding: 1rem;
}

.task-group-info {
    margin: 1rem;
}

.category {
    border: 1px solid #bebebe;
    font-weight: 700;
    background-color: #fff;
}

.text {
    margin: 1rem 0 2rem 0;
    font-weight: 300;
}

.time, .time-active {
    border-right: 1px solid black;
}


.finish-task-btn {
    background-color: #000;
    color: #eee;
    text-decoration: none;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    max-width: 20rem;
}

    /* Add task form */
.new-task-btn {
    position:fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
}

#addTaskBtn {
    position: sticky;
}

.position {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 2rem 2rem 0 0;

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s;
}

.new-task-form {
    border-radius: 2rem 2rem 0 0;
    background-color: #eee;
    overflow: hidden;
    box-shadow: 1px 10px 10px -5px rgba(0,0,0,0.4);
}

.active-form {
    border: 1px solid #bebebe;
    grid-template-rows: 1fr;
}

.new-task-form > h1 {
    margin-bottom: 1rem;
}

.new.task.form > label {
    display: block;
}

.task-form {
    background-color: #bebebe;
    border: none;
    border-radius: 2rem;
    margin: .5rem 1rem;
    padding: .5rem;
    width: 90%;
}

.hour-input {
    background-color: #bebebe;
    border: none;
    border-radius: 2rem;
    height: 2rem;
    width: 11rem;
    padding-left: 1rem;
    margin: 0 1rem;
}

.labels {
    display: flex;
    justify-content: space-around;
}

.hour-inputs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.new-task-form > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.category-block {
    margin: .5rem;
}
.category-block-content {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;
}

.comment {
    margin: .5rem 1rem 3rem 1rem;
    background-color: #bebebe;
    border: none;
    width: 90%;
    padding: .5rem 0 0 1rem;
}

.submit-task-btn {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#submitBtn {
    display: none;
}

#addTaskBtn {
    display: block;
    z-index: 2;
}

.active-cat {
    border: 1px solid #000;
}


/* Tablet style */
@media(min-width: 426px){
    .task-group {
        max-width: none;
        width: 90%;
    }
}

/* Desktop style */
@media(min-width: 769px){
    h1 {
        font-size: 2.5vw;
    }

    label, span, p {
        font-size: 2vw;
    }

    #tasks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .task-group {
        width: 60%;
    }  

    .active-form {
        width: 60%;
        left: 20%;
    }

    /* Add task Form */
    .task-form {
        font-size: 1.5vw;
        padding: 1rem 0 1rem 3rem;
    }

    .hour-input {
        font-size: 1.5vw;
        padding: 1rem 0 1rem 3rem;
        height: auto;
        width: auto;
    }

    .comment {
        font-size: 1.5vw;
    }

    svg {
        width: 8vw;
    }

    .submit-task-btn {
        right: 22%;
    }

    .finish-task-btn {
        font-size: 20px;
        width: 10rem;
    }

    .active {
        height: 16rem;
    }
}

